 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/adf21b12195ad6e49bf0b59be1a0afe482ef908c53036effe5811e491482c60b40a3dc57f77151ef7fdb23116d826ef8aad3268935be8f1006ea63_1280.jpg?rand=bda2");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-group-1 {
  width: 419px;
  min-height: 489px;
  margin: 152px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 32px 30px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 230px;
  min-width: 160px;
  transition-duration: 0.5s;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-group-1 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -449px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -315px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-2 {
  background-image: linear-gradient(#db545a, #292d33);
}

.u-section-2 .u-sheet-1 {
  min-height: 708px;
}

.u-section-2 .u-text-1 {
  margin: 54px 0 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}