 .u-section-1 {
  background-image: url("images/3208f13af7db13e3050458aaaed753224db2f1a03facb67f871d88b6594531cc7b77fec92f7a821b2ae707297c6ff03d52aea5dfd6eff6722c898e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 234px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 27px auto 60px 27px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: 220%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 57.93% 48.26%;
    background-size: auto 250%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 24px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-2 {
  background-image: url("images/082b1b937062e69984d48be1221ced0b8fd73175c3eabdac7d92135e52ae699255369453fb961a545a1f5b9eb7f9c29c53233a1bf79a3d034f210c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 160px 454px 0 407px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 84px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 632px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  border-style: none none solid;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  border-style: none none solid;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  border-style: none none solid;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  font-family: Kalam;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: -54px 0 0 97px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 39px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  border-style: none none solid;
  margin: 26px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 354px;
    margin-left: 307px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 244px;
    margin-left: 197px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 154px;
    margin-left: 107px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 54px;
    margin-left: 7px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: url("images/dc69cbc240d5efac8ea3611c4452fa0090f4c920c87775b2d548cb2cc7cad13df52e83c907367d037ae9f78ea760894a3ccaa89682592dc5024972_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 869px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  background-image: url("https://pixabay.com/get/g6de863fd00777719f7bc8e3fc791e78cf2bb7dae7d02ce7d43266ec380d2e99b0088d93410dc3945f16f5d35bd8ad1729b969bcceab85db45b6cc22f19d4d0b6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-3 .u-gallery-1 {
    height: 716px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1234px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4033px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3702px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2662px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2331px;
  }
}